<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>cpServerPro</display-name>
 <!--  
   <servlet>
    <servlet-name>AccountAuthServlet</servlet-name>
    <servlet-class>com.cp.account.AccountAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountAuthServlet</servlet-name>
    <url-pattern>/AccountAuthServlet</url-pattern>
  </servlet-mapping>
 -->
 
 <!-- 配置IP地址和端口号Port -->
<env-entry>
 	<env-entry-name>IP</env-entry-name>
 	<env-entry-type>java.lang.String</env-entry-type>
 	<env-entry-value>103.244.82.219</env-entry-value>
</env-entry>
 
 <env-entry>
 	<env-entry-name>PORT</env-entry-name>
 	<env-entry-type>java.lang.String</env-entry-type>
 	<env-entry-value>80</env-entry-value>
</env-entry>

 <!-- Android推送参数设置 -->
 <env-entry>
 	<env-entry-name>APP_KEY_ANDROID</env-entry-name>
 	<env-entry-type>java.lang.String</env-entry-type>
 	<env-entry-value>55233243fd98c585d4000c38</env-entry-value>
</env-entry>
 
 <env-entry>
 	<env-entry-name>APP_MASTER_SECRET_ANDROID</env-entry-name>
 	<env-entry-type>java.lang.String</env-entry-type>
 	<env-entry-value>i92rwu5ntirbklemtgroolldmdvv5ort</env-entry-value>
</env-entry>

 <env-entry>
 	<env-entry-name>DEVICE_TOKEN_ANDROID</env-entry-name>
 	<env-entry-type>java.lang.String</env-entry-type>
 	<env-entry-value>Amalf9Eh8M8lTb8ZWDGIx4xyn77HR-oYocBHCDOMTjh9</env-entry-value>
</env-entry>

<!-- IOS推送参数设置 -->
 <env-entry>
 	<env-entry-name>APP_KEY_IOS</env-entry-name>
 	<env-entry-type>java.lang.String</env-entry-type>
 	<env-entry-value>123</env-entry-value>
</env-entry>
 
 <env-entry>
 	<env-entry-name>APP_MASTER_SECRET_IOS</env-entry-name>
 	<env-entry-type>java.lang.String</env-entry-type>
 	<env-entry-value>123</env-entry-value>
</env-entry>

 <env-entry>
 	<env-entry-name>DEVICE_TOKEN_IOS</env-entry-name>
 	<env-entry-type>java.lang.String</env-entry-type>
 	<env-entry-value>123</env-entry-value>
</env-entry>
<!--  -->

 
  <servlet>
    <servlet-name>AddNewsServlet</servlet-name>
    <servlet-class>com.cp.newspub.AddNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsServlet</servlet-name>
    <url-pattern>/AddNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPromotionServlet</servlet-name>
    <servlet-class>com.cp.push.AddPromotionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPromotionServlet</servlet-name>
    <url-pattern>/AddPromotionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddImageServlet</servlet-name>
    <servlet-class>com.cp.exhibition.AddImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImageServlet</servlet-name>
    <url-pattern>/AddImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddVideoServlet</servlet-name>
    <servlet-class>com.cp.video.AddVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVideoServlet</servlet-name>
    <url-pattern>/AddVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewAccountServlet</servlet-name>
    <servlet-class>com.cp.account.AddNewAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewAccountServlet</servlet-name>
    <url-pattern>/AddNewAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewAppServlet</servlet-name>
    <servlet-class>com.cp.app.AddNewAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewAppServlet</servlet-name>
    <url-pattern>/AddNewAppServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.cp.download.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/DownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownLoadServlet2</servlet-name>
    <servlet-class>com.cp.download.DownLoadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet2</servlet-name>
    <url-pattern>/DownLoadServlet2</url-pattern>
  </servlet-mapping>
  
  <filter>
  <filter-name>AuthFilter</filter-name>
  <filter-class>com.cp.basefunc.AuthFilter</filter-class>
  </filter>
  
  <filter-mapping>
  <filter-name>AuthFilter</filter-name>
  <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>